.holder {
    max-width: 80%;
    margin: auto;
}

header {
    background-color:darkgray;
    /* text-align: center; */
}

header h1 {
    font-size: 30px;
    color:darkslategray;
    padding: 10px;
}

/* .item{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.contenedor {
    height: 145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.titulo{
    width: 140px;
    height: 150px;
    background-color:lavender;
    border-radius: 58px;
    display: flex;
    align-items: center;
}

.activo {
    background-color: aliceblue;
}

nav {
    background-color: darkgrey;
    height: 25px;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    width: 10%;
    height: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 0px;
}

.explicacion{
    background-color: darkgrey;
    min-height: 150px;
    width: 100%;
    text-align: center;
}

.explicacion p:hover{
    background-color: dimgray;
}

main p{
    font-size: 20px;
}

.imagenes{
    background-color:dimgrey;
    display: flex;
    align-items: center;
    height: 190px;
    justify-content: center;

}

.imagenes img{
    width: 180px;
    height: 170px;
    border-radius: 45%;
    border: solid 1px;
    box-shadow: 2px 20px 20px 0;
}

.imagenes img:hover{
    width: 190px;
    height: 180px;
    box-shadow: 2px 30px 30px 0;
}

.versus{
    font-size: 100px;
}

a{
    text-decoration: none;
}

.formulario{
    background-color: darkgrey;
    display: flex;
}

.formulario ul {
    list-style: none;
}

.formulario li {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-top: 15px;
}

.formulario ul li label{
    min-width: 80px;
    padding-right: 10px;
}

.formulario ul button{
    position: relative;
    top: 1em;
    left: 9em;
}

.radio-personajes label{
    min-width: none;
    max-width: 10px;
}