<link rel='stylesheet' href='/style.css' />

    <nav>
        <ul>
            <li><a href="/logout/salir">cerrar session</a></li>
            <li><a href="/novedades/admin">novedades</a></li>
        </ul>
    </nav>

{{!-- <a href="/logout/salir">cerrar session</a>

<a href="/novedades/admin">novedades</a> --}}