<form action="/inicio" method="post">
            <ul>
                <li>
                    <label htmlFor="usuario">usuario</label>
                    <input type="text" id="usuario" name="usuario"/>
                </li>
                <li>
                    <label htmlFor="password">contraseña</label>
                    <input type="text" id="password" name="password"/>
                </li>
                <button type="submit">ingresar</button>
            </ul>
</form>