nav {
    background-color: darkgrey;
    height: 75px;
    /* width: 15%; */
    
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    display: flex;
    align-items:initial;
}

nav ul li {
    width: 100%;
    height: 75px;
    text-align: center;
    box-shadow: 2px 2px 2px 0px;
    font-size: x-large;
}

.navLink{
    width: 100%;
    height: 75px;
    text-align: center;
    box-shadow: 2px 2px 2px 0px;
    font-size: x-large;
}

a{
    text-decoration: none;
}

.activo {
    background-color: aliceblue;
}