<form action="/novedades/actualizar" method="post">
    <input type="text" name="titulo" value="{{novedad.titulo}}"/>
    <input type="text" name="descripcion" value="{{novedad.descripcion}}"/>
    <input type="text" name="id" value="{{novedad.id}}" style="display: none;"/>
    <button type="submit">actualizar</button>
</form>
titulo: {{novedad.titulo}}