<link rel='stylesheet' href='/style.css' />

<form action="/novedades/actualizar" method="post" class="formulario">
    <span>titulo: </span><input type="text" name="titulo" value="{{novedad.titulo}}"/>
    <span>descripcion: </span><input type="text" name="descripcion" value="{{novedad.descripcion}}"/>
    <input type="text" name="id" value="{{novedad.id}}" style="display: none;"/>
    <button type="submit">actualizar</button>
</form>