<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <header>
        <div class="contenedor">

            <div class="titulo">
                <h1>Play-Off ADMIN</h1>
            </div>
            
        </div>
    </header>

  <body>
    <br>
    {{{body}}}
  </body>
</html>
